# ── Développement local ──────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001/v1
NEXT_PUBLIC_WHATSAPP=+221XXXXXXXXX

# ── Production (Vercel) ──────────────────────────────────────
NEXT_PUBLIC_API_URL=https://soloma-backend-1.onrender.com/v1
# NEXT_PUBLIC_WHATSAPP=+221XXXXXXXXX
